
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNhanvien.cshtml";
}
<style>
    #alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        display: none;
        width: 600px;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script>
    var name_image = '';
    var image_ra = '';
    $(document).ready(function () {
        $(document).on('click', '#btnQuetvao', function () {
            const data = {
                name_image
            }
            $.ajax({
                url: location.pathname + '/NhandienBsx',
                type: 'POST',
                data: data,
            }).done(function (res) {
                if (res) {
                    obj = JSON.parse(res);
                    $("#txtBiensoxe").val(obj.data);
                }
                else {
                    alert('Failed');
                }
            });
        });
        $(document).on('click', '#btnQuetra', function () {
            const data = {
                name_image
            }
            $.ajax({
                url: location.pathname + '/NhandienBsx',
                type: 'POST',
                data: data,
            }).done(function (res) {
                if (res) {
                    obj = JSON.parse(res);
                    $("#txtBiensoxera").val(obj.data);
                    var bsxvao = $("#txtBiensoxe").val();
                    var bsxra = $("#txtBiensoxera").val();
                    if (bsxra == bsxvao) {
                        alert('Hợp lệ :)');
                    }
                    else {
                        $('#alert').css('display', 'inline-block');
                        $('#alert').css('margin-left', '374px');
                        $('#alert').css('position', 'absolute');
                        $('#alert').css('margin-top', '-600px');
                    }
                }
                else {
                    alert('Failed');
                }
            });
        });

        // lưu thông tin xe vào db
        $(document).on('click', '#btnluuxevao', function () {
            var mavexe = $('#txtMavexe').val();
            var hinhanh = $('#output').attr('src');
            var biensoxe = $('#txtBiensoxe').val();
            var loaixe = $("input[name='loaixe']:checked").val();
            const data = {
                mavexe, hinhanh, biensoxe, loaixe
            }
            alert(data);
            $.ajax({
                url: location.pathname + '/Luuxe',
                type: 'POST',
                data: data,
            }).done(function (res) {
                if (res) {
                    alert('Lưu thành công');
                }
                else {
                    alert('Failed');
                }
            });
        });
    });
</script>

<div id="layoutSidenav_content">
    <main>
        <h1>Quản lý xe ra vào</h1>

        <div class="row">
            <div class="col-lg-12">
                <label>Mã vé xe: </label>
                <input type="text" id="txtMavexe" />
            </div>
            <div class="col-lg-6" style="border-right: 1px solid black; height:600px">
                <p><img id="output" width="400" style="border: 1px solid black" /></p>
                <p><input type="file" accept="image/*" name="image" id="file2" onchange="loadFile(event)" style="display: none;"></p>
                <p><label for="file2" style="cursor: pointer;" class="btn btn-success">Chọn hình ảnh</label></p>
                <script>
                    var loadFile = function (event) {
                        var image = document.getElementById('output');
                        image.src = URL.createObjectURL(event.target.files[0]);
                        var file = event.target.files[0];
                        var filename = file.name;
                        name_image = filename;

                    };
                </script>
                <button type="button" id="btnQuetvao" class="btn btn-primary" style="margin-bottom:20px" onchange="uploadFile(event)">Quét</button>
                <script>

                    var uploadFile = function (event) {
                        var image2 = document.getElementById('output');
                        image2.src = URL.createObjectURL(event.target.files[0]);
                        var file = event.target.files[0];
                        var filename = file.name;
                        name_image = filename;
                    };
                </script>
                <br />
                <label>Loại xe: </label>
                &emsp;Xe máy&ensp;<input type="radio" value="1" name="loaixe" checked="checked" />
                &emsp;Ô tô&ensp;<input type="radio" value="2" name="loaixe" />
                &emsp;Xe điện&ensp;<input type="radio" value="3" name="loaixe" />
                &emsp;Khác&ensp;<input type="radio" value="4" name="loaixe" />
                <h3>Thông tin xe vào</h3>
                <hr />
                <label>Biển số xe vào</label>
                <input type="text" id="txtBiensoxe" />
                <input type="hidden" id="pathImage" />
                <button type="button" id="btnluuxevao" class="btn btn-warning">Lưu</button>

            </div>
            <div class="col-lg-6">
                <p><img id="outputxera" width="400" style="border: 1px solid black" /></p>
                <p><input type="file" accept="image/*" name="image1" id="file1" onchange="loadFileImage (event)" style="display: none;"></p>
                <p><label for="file1" style="cursor: pointer;" class="btn btn-success">Chọn hình ảnh</label></p>
                <script>
                    var loadFileImage = function (event) {
                        var image1 = document.getElementById('outputxera');
                        image1.src = URL.createObjectURL(event.target.files[0]);
                        var file1 = event.target.files[0];
                        var filename1 = file1.name;
                        name_image = filename1;


                    };
                </script>
                <button type="button" id="btnQuetra" class=" btn btn-primary" style="margin-bottom:20px">Quét</button>
                <h3>Thông tin xe ra</h3>
                <hr />
                <label>Biển số xe ra</label>
                <input type="text" id="txtBiensoxera" />
                <input type="number" id="txtGiave" />

                <button type="button" id="btnluuxera" class="btn btn-warning">Kiểm tra</button>
            </div>
        </div>
    </main>

</div>

