<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Page Title - SB Admin</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        .navbar navbar-inverse navbar-fixed-top{
            display:none ;
        }
    </style>
     
    <script>
        $(document).ready(function () {
            var username;
            var password;
            $(document).on('click', '#btnLogin', function () {
                 username = $('#inputEmailAddress').val();
                 password = $('#inputPassword').val();
                const data = {
                    tendangnhap: $('#inputEmailAddress').val(),
                    matkhau: $('#inputPassword').val()
                }
                if (username.length == 0 || password.length == 0) {
                    alert('Bạn vui lòng nhập đủ dữ liệu !');
                    return false;
                }
                else {
                    $.ajax({
                        url: location.pathname + '/Dangnhap',
                        type: 'POST',
                        data: data,
                    }).done(function (res) {
                        switch (res) {
                            case "True1":
                                window.location.href = "QLKhudexe/Index";
                                break;
                            case "True2":
                                window.location.href = "QLXe/Index";
                                break;
                            case "True3":
                                window.location.href = "QLXeravao/Index";
                                break;
                            case "Sai":
                                alert('Sai tên đăng nhập hoặc mật khẩu :(');
                                break;
                        }
                    });
                }

                });
            });
    </script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Đăng nhập</h3></div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Tên đăng nhập</label>
                                            <input class="form-control py-4" id="inputEmailAddress"  placeholder="Nhập tên đăng nhập" required />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Mật khẩu</label>
                                            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Nhập mật khẩu" required />
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">Quên mật khẩu?</a>
                                            <input type="submit" class="btn btn-primary" id="btnLogin" value="Đăng nhập" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        @Html.ActionLink("Bạn chưa có tài khoản? Click để đăng ký!", "Index", "Register")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; DATN Hali 2021</div>
                        <div>
                            <a href="#">Chính sách bảo mật</a>
                            &middot;
                            <a href="#">Điều khoản &amp; Điều kiện</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>
</html>


